.hider {
    display: flex;
    flex-direction: column;
}

.smaller {
    display: none;
}

.hello {
    animation: hello 0.5s 1 alternate ease-in-out;
}

@keyframes hello {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

.img {
    height: 60vh;
    width: 70vw;
}

.img2 {
    width: 60vw;
    height: 40vh;
    object-fit: cover;
}


.texts {
    color: #8f8f8f;
    transition: .5s;
}

.steps {
    cursor: pointer;

    &:hover {
        .texts {
            color: #000;
        }
    }
}

.link {
    transition: .5s;

    &:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width:990px) {
    .hider {
        display: none;
    }

    .smaller {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        .carousel-item {
            text-align: center;
            flex: 0 0 auto;
            margin-right: 1rem;
            scroll-snap-align: start;
            width: 100%;
        }
    }
}