* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

::selection {
    color: black;
    background-color: #a6fff8;
}