@import "_navbar";

.bor2 {
    border-radius: 1px;
    border: 1px solid #161616;

    .input2 {
        outline: none;
        border: none;
        background-color: #d4dbe0;
    }

    .search2-btn {
        background-color: #09757a;
        color: white;
        border: none;
        transition: .6s;

        &:hover {
            background-color: #053c3f;
        }
    }
}

.search-able1 {
    display: block;
}

.search-able2 {
    display: none;
}

@media only screen and (max-width:990px) {

    .search-able1 {
        display: none;
    }

    .search-able2 {
        display: block;
    }
}